* {
  box-sizing: border-box;
}

body {
  margin: 16px;

  background-color: #fafafa;
 
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.gallery-item {
  width: 360px;
   
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

